@import "../mixins";
@import "variables";

tags-input {
  box-shadow: none;
  border: none;
  padding: 0;
  min-height: $tags-height;

  .host {
    margin: 0;
  }

  .tags {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: $tags-border;
    border-radius: $tags-border-radius;
    @include box-shadow($tags-border-shadow);
    @include transition($tags-transition);

    .tag-item {
      color: $tag-color;
      background: $tag-bgcolor;
      border: $tag-border;
      border-radius: $tag-border-radius;

      &.selected {
        color: $tag-color-selected;
        background: $tag-bgcolor-selected;
        border: $tag-border-selected;
      }

      .remove-button:hover {
        text-decoration: none;
      }
    }
  }

  .tags.focused {
    border: $tags-outline-border;
    @include box-shadow($tags-outline-border-shadow);
  }

  .autocomplete {
    border-radius: $suggestions-border-radius;

    .suggestion-item {
      &.selected {
        color: $suggestion-color-selected;
        background-color: $suggestion-bgcolor-selected;

        em {
          color: $suggestion-highlight-color-selected;
          background-color: $suggestion-highlight-bgcolor-selected;
        }
      }

      em {
        color: $suggestion-highlight-color;
        background-color: $suggestion-highlight-bgcolor;
      }
    }
  }

  &[disabled] {
    .tags {
      background-color: $tags-bgcolor-disabled;

      .tag-item {
        background: $tag-bgcolor-disabled;
        opacity: $tag-opacity-disabled;
      }

      .input {
        background-color: $tags-bgcolor-disabled;
      }
    }
  }
}

@import "input-groups";
@import "forms";